$primary-color: linear-gradient(91.07deg, #e4985a 0.35%, #ef8eb2 99.72%);
$secondary-color: linear-gradient(0deg, #f5f9fc, #f5f9fc);
$light-color: #f4f4f4;
$dark-color: #444;
$ff-title: "vcr_osd_monoregular";
$ff-regular: "Barlow", sans-serif;
