@font-face {
  font-family: "vcr_osd_monoregular";
  src: url("/assets/fonts/vcr-osd-mono-webfont.woff2") format("woff2"),
    url("/assets/fonts/vcr-osd-mono-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "variables";

// Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/assets/imgs/bg.jpg");
  color: $light-color;
  font-family: $ff-regular;
  line-height: 1.5;
}

.container {
  display: flex;
}

.logo {
  margin-top: 32px;
  margin-left: 36px;
}

.capa_cd {
  // margin-left: 590px;
  // position: absolute;
  margin-top: 52px;
  margin-left: 32px;
}

.capa_cd_mobile {
  display: none;
}

// Utilities

// .btn {
//   margin-top: 40px;
//   padding: 16px 20px;
//   cursor: pointer;
//   text-transform: uppercase;
//   text-align: center;
//   border: none;
//   background: $primary-color;
//   color: #fff;
//   font-size: 20px;
//   font-weight: 400;
//   font-family: $ff-title;
// }

// Showcase

.showcase_text {
  position: absolute;
  top: 180px;
  left: 90px;
  text-transform: uppercase;

  .showcase_text--listen {
    font-size: 13px;
    font-weight: bold;
  }

  .showcase_text--sweet22 {
    line-height: 0.9;
    margin: 20px 0 30px;
    font-family: $ff-title;
    font-size: 80px;
    font-weight: 400;
    word-spacing: -20px;
    span {
      background-image: $primary-color;
      -webkit-background-clip: text;
      background-clip: text;
      // -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      // -moz-text-fill-color: transparent;
    }
  }

  .headphones {
    display: flex;
    margin-bottom: 5px;

    p {
      margin-left: 5px;
      background-image: $primary-color;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 100%;
      // -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      // -moz-text-fill-color: transparent;
      font-size: 22px;
      font-weight: bold;
    }
  }

  .showcase_text--stream {
    font-size: 22px;
    font-weight: normal;
    color: #fff;

    span {
      font-weight: bold;
    }
  }
}

// Media Queries

// Ipad

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // padding: 0 100px;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
  }

  // .capa_cd {
  //   margin: 15px auto 20px;
  // }
  .capa_cd {
    display: none;
  }

  .capa_cd_mobile {
    display: block;
    // margin: 15px auto 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }

  .showcase_text {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;

    .showcase_text--listen {
      font-size: 18px;
    }

    .showcase_text--sweet22 {
      margin: 15px 0 25px;
      line-height: 1;
      font-size: 70px;
    }

    .headphones {
      justify-content: center;
      margin-bottom: 10px;
    }
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// Mobile

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // padding: 0 100px;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }

  .capa_cd {
    display: none;
  }

  .capa_cd_mobile {
    display: block;
    // margin: 15px auto 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }

  .showcase_text {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;

    .showcase_text--listen {
      font-size: 16px;
    }

    .showcase_text--sweet22 {
      margin: 15px 0 25px;
      line-height: 1;
      font-size: 60px;
    }

    .headphones {
      justify-content: center;
      margin-bottom: 10px;
    }
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
