@font-face {
  font-family: "vcr";
  src: url("../assets/fonts/vcr-osd-mono.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: url("/assets/imgs/bg.jpg");
  color: #f4f4f4;
  font-family: "Barlow", sans-serif;
  line-height: 1.5; }

.container {
  display: flex; }

.logo {
  margin-top: 32px;
  margin-left: 36px; }

.capa_cd {
  margin-top: 52px;
  margin-left: 32px; }

.capa_cd_mobile {
  display: none; }

.showcase_text {
  position: absolute;
  top: 180px;
  left: 100px;
  text-transform: uppercase; }
  .showcase_text .showcase_text--listen {
    font-size: 13px;
    font-weight: bold; }
  .showcase_text .showcase_text--sweet22 {
    line-height: 0.9;
    margin: 20px 0 30px;
    font-family: "vcr";
    font-size: 80px;
    font-weight: 400; }
    .showcase_text .showcase_text--sweet22 span {
      background-image: linear-gradient(91.07deg, #e4985a 0.35%, #ef8eb2 99.72%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
  .showcase_text .headphones {
    display: flex;
    margin-bottom: 5px; }
    .showcase_text .headphones p {
      margin-left: 5px;
      background-image: linear-gradient(91.07deg, #e4985a 0.35%, #ef8eb2 99.72%);
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 100%;
      -webkit-text-fill-color: transparent;
      font-size: 22px;
      font-weight: bold; }
  .showcase_text .showcase_text--stream {
    font-size: 22px;
    font-weight: normal;
    color: #fff; }
    .showcase_text .showcase_text--stream span {
      font-weight: bold; }

.btn {
  margin-top: 40px;
  padding: 16px 20px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background: linear-gradient(91.07deg, #e4985a 0.35%, #ef8eb2 99.72%);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: "vcr"; }

@media (max-width: 800px) {
  .container {
    flex-direction: column; }
  .logo {
    margin-left: auto;
    margin-right: auto; }
  .capa_cd {
    display: none; }
  .capa_cd_mobile {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto; }
    .capa_cd_mobile img {
      width: 100%; }
  .showcase_text {
    position: relative;
    top: 0;
    left: 0;
    text-align: center; }
    .showcase_text .showcase_text--listen {
      font-size: 18px; }
    .showcase_text .showcase_text--sweet22 {
      margin: 15px 0 25px;
      line-height: 1;
      font-size: 70px; }
    .showcase_text .headphones {
      justify-content: center;
      margin-bottom: 10px; }
  .btn {
    margin-top: 20px;
    margin-bottom: 20px; } }

@media (max-width: 500px) {
  .container {
    flex-direction: column; }
  .logo {
    margin-left: auto;
    margin-right: auto; }
    .logo img {
      width: 100%; }
  .capa_cd {
    display: none; }
  .capa_cd_mobile {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto; }
    .capa_cd_mobile img {
      width: 100%; }
  .showcase_text {
    position: relative;
    top: 0;
    left: 0;
    text-align: center; }
    .showcase_text .showcase_text--listen {
      font-size: 16px; }
    .showcase_text .showcase_text--sweet22 {
      margin: 15px 0 25px;
      line-height: 1;
      font-size: 60px; }
    .showcase_text .headphones {
      justify-content: center;
      margin-bottom: 10px; }
  .btn {
    margin-top: 20px;
    margin-bottom: 20px; } }
